<!--3 cards // alto rendimiento // el pequeño ascensor // amateur -->
<div class="container-fluid containerCardHome">
  <div class="row justify-content-center rowCardHome">
    <div class="card mb-3 col-xl-3 col-md-12 mx-2 cardHome" id="progCompetitivCardHome">
      <div class="card-body">
        <h5 class="card-title">PROGRAMA COMPETITIVO</h5>
        <p class="card-text ">Consideramos la competencia como parte del
          desarrollo integral del gimnasta ya que promueve valores importantes
          para la formación deportiva y personal del niño/a. Fomentando el
          esfuerzo, la dedicación, el compañerismo, los hábitos saludables entre
          otras cosas. Respetando los tiempos individuales y mediante
          progresiones adecuadas a la edad y nivel de cada alumno/a. Se buscará
          llegar al mejor desarrollo y rendimiento de los niños/as en la
          Gimnasia de Trampolín.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Torneos Amistosos</li>
          <li class="list-group-item">Torneos Federativos</li>
          <li class="list-group-item">Torneos Nacionales</li>
          <li class="list-group-item">Torneos Internacionales</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card  mb-3 col-xl-3 col-md-12 mx-2 cardHome" id="classPersonalCardHome">
      <div class="card-body">
        <h5 class="card-title">CLASES PERSONALIZADAS</h5>
        <p class="card-text">Brindamos la posibilidad de realizar Clases
          particulares y personalizadas para alumnos y no alumnos, acróbatas,
          bailarines, deportistas, etc. Con la facilidad de coordinar día y
          horario con un profesor especializado, el espacio y los materiales a
          entera disposición del alumno.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Reforzar la parte de entrenamiento físico
            para este u otros deportes.</li>
          <li class="list-group-item">Reforzar un ejercicio que no sale.</li>
          <li class="list-group-item">Aprender un ejercicio nuevo.</li>
          <li class="list-group-item">Preparar el ingreso a un profesorado de
            educación física.</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card  mb-3 col-xl-3 col-md-12 mx-2 cardHome" id="recreativeProgCardHome">
      <div class="card-body">
        <h5 class="card-title">PROGRAMA RECREATIVO</h5>
        <p class="card-text">Este programa es especial para descubrir la
          gimnasia de trampolín y aprender jugando. Con clases para todas las
          edades y niveles, desde bebes de 6 meses hasta adultos buscamos guiar
          y acompañar a los alumnos en el desarrollo de sus capacidades a través
          de juegos, actividades, ejercicios adaptados a la edad, nivel y
          objetivos de cada uno. Todas las clases están dirigidas por un
          profesor capacitado y especializado en el deporte</p>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<!--4 cards // baby gym // cumpleaños //colonia // talleres -->
<!--footer contact-->